
.form-container {
  width: 70%;
  margin: 2rem auto;
  padding: 2rem;
  background-color: #02013a;
  border-radius: 8px;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flexbox;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.reg-form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 100%;
}

.form-header {
  text-align: center;
  margin-bottom: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

img {
  width: 15%;
  filter: drop-shadow(4px 4px 10px rgba(59, 2, 133, 0.5));
  border-radius: 15%;
  padding: 20px;
}

.form-header h2 {
  color: #eef1f5;
  font-size: 1.8rem;
  margin: 0;
}

h6 {
  color: #f3f6f8;
  font-size: 1.4rem;
  margin: 0;
}

.form-body {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 60%;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.form-group label {
  color: #e8eaee;
  font-size: 0.9rem;
  font-weight: 500;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
}

.form-group input {
  padding: 0.75rem;
  border: 1px solid #e2e8f0;
  border-radius: 4px;
  font-size: 1rem;
  transition: border-color 0.2s ease;
  margin-bottom: 0rem;
  width: 100%;
}

.form-group input:focus {
  outline: none;
  border-color: #4299e1;
  box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.1);
}

.form-group input::placeholder {
  color: #a0aec0;
}

.form-divider {
  margin: 1.5rem 0;
  border: none;
  border-top: 3px solid #eef1f5;
}

.form-footer {
  display:flex;
  gap: 1rem;
  justify-content: center;
  margin-top: 1rem;
}

.btn {
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 6px;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s ease;
}

.btn-primary {
  background-color: #4299e1;
  color: white;
  font-weight: bold;

}

.btn-primary:hover {
  background-color: #06437c;
  translate: 5px -5px;
  font-style: italic;
}

.btn-secondary {
  background-color: #edf2f7;
  color: #4a5568;
  font-weight: bold;
}

.btn-secondary:hover {
  background-color: #818488;
  color: white;
  translate: 5px -5px;
  font-style: italic;
}

.btn-cancel {
  background-color: #dd2424;
  color: #fcf7f7;
  font-weight: bold;
}

.btn-cancel:hover {
  background-color: #db13135e;
  color: rgb(238, 238, 240);
  translate: 5px -5px;
  font-style: italic;
}

.cuadrado {
  margin: 2px;
  padding: 2px;
  border: 2px solid #eef1f5;
  border-radius: 10px;
}


@media (max-width: 932px) {
  .form-container {
    margin: 1rem;
    padding: 1rem;
  }

  .form-footer {
    flex-direction: column;
  }

  .btn {

    display: flex;
    flex-wrap: wrap;
  }
}

p .errorMessage {
  color: #960f0f;
  font-size: 12px;  
  margin-top: 0rem;
}

